/* AboutMe.css */

.aboutMe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  padding-top: 60px;
  margin-top: 60px;
  border-radius: 8px;
  max-width: 100ch;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.aboutMe-container h1 {
  color: #000000;
  font-size: 30px;
  margin-top: 20px;
  animation: wave 2s infinite linear;
}

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.aboutMe-container p {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.resume-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #09f405;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #000;
  color: #09f405;
}

.about-content {
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  background-color: #f5f5dce1;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background {
  background: url('/public/images/The moon.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Mobile View */
@media screen and (max-width: 600px) {
  .aboutMe-container {
    margin-top: 400px;
    padding: 10px;
    margin-bottom: 275px;
  }

  .aboutMe-container h1 {
    font-size: 24px;
  }

  .aboutMe-container p {
    font-size: 14px;
  }

  .resume-button {
    font-size: 14px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }
}
